body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #15202B;
}

header {
  background: #2B3D50;
  height: 5em;
  display: flex;
  justify-content: space-between;
}
header img {
  margin-left: 1em;
  width: 7em;
}
header .search {
  margin-right: 2em;
  align-self: center;
}
header .search input {
  border-radius: 2em;
  width: 30em;
}
header .search input::placeholder {
  color: #949191;
  font-size: 15px;
}
header .search input:placeholder-shown {
  border-style: none;
  outline-style: unset;
}
header .search button {
  background-color: darkcyan;
  border-radius: 1em;
  font-size: 1em;
  color: white;
  border-style: none;
  cursor: pointer;
}

nav {
  position: fixed;
  background: #837878;
  width: 8vw;
  height: 100vh;
  background-color: #2B3D50;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  align-items: center;
}
nav ul li {
  font-size: 3.5em;
  margin-bottom: 0.8rem;
}
nav ul li a {
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
nav ul li a:hover {
  color: cadetblue;
}

main {
  background: rgba(0, 0, 0, 0.014);
  width: 92vw;
  height: 80vh;
  margin-left: 9vw;
}
main #stats {
  height: 40vh;
}
main #buttons {
  vertical-align: bottom;
  margin-left: 9vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  height: 40vh;
  width: 70vw;
}
main #buttons .button {
  border: none;
  border-radius: 5%;
  height: 5em;
  width: 18em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
main #buttons .button1 {
  background-color: white;
  color: #009BFF;
  border: 2px solid #009BFF;
}
main #buttons .button1:hover {
  background-color: #009bff;
  color: white;
}
main #buttons .button2 {
  background-color: white;
  color: #E180C6;
  border: 2px solid #E180C6;
}
main #buttons .button2:hover {
  background-color: #E180C6;
  color: white;
}
main #buttons .button3 {
  background-color: white;
  color: #FF8A00;
  border: 2px solid #FF8A00;
}
main #buttons .button3:hover {
  background-color: #FF8A00;
  color: white;
}
main #buttons .button4 {
  background-color: white;
  color: #E44747;
  border: 2px solid #E44747;
}
main #buttons .button4:hover {
  background-color: #E44747;
  color: white;
}
main #buttons .button5 {
  background-color: white;
  color: #543EDD;
  border: 2px solid #543EDD;
}
main #buttons .button5:hover {
  background-color: #543EDD;
  color: white;
}
main #buttons .button6 {
  background-color: white;
  color: #047501;
  border: 2px solid #047501;
}
main #buttons .button6:hover {
  background-color: #047501;
  color: white;
}
main #buttons .button7 {
  background-color: white;
  color: #D9A902;
  border: 2px solid #D9A902;
}
main #buttons .button7:hover {
  background-color: #D9A902;
  color: white;
}
main #buttons .button8 {
  background-color: white;
  color: #000000;
  border: 2px solid #000000;
}
main #buttons .button8:hover {
  background-color: #000000;
  color: white;
}

footer {
  position: absolute;
  width: 100%;
  height: 6.6vh;
  background: #000;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #2B3D50;
}
footer i {
  align-self: center;
}