body{
    background-color: transparent;
    margin: 0;
  }
  

/*****************************************
            Texte Editeur
*****************************************/

  #redo{
    transform: rotateY(180deg);
  }
  .container{
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #EFEFEF;
  }
  .editeur, .htmlview{
    height: 300px;
    border: 1px solid #28324E;
    margin: 5px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    overflow: auto; 
    text-align: left !important;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 14px !important;
    font-family: 'Nunito', sans-serif;
  }
  .editeur{
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  .htmlview{
    display: none;
  }
  
  .editeur{
    background-color: white;
  }
  
  .panel-boutons{
    position: relative;
    text-align: center !important;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    width: auto;
    background-color: #333333;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .boutons-form{
    position: relative;
    text-align: right !important;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
  }
  
  .panel-boutons button{
    font-size: 1.3vw;
    width: 2.6vw;
    height: 2.4vw;
    background-color: #333333;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .6s;
    border-radius: 5px;
    color: white;
  }
  
  .bouton-groupe{
    display: inline-block;
    padding: 0.5vw;
  }
  
  .panel-boutons button:hover{
    color: #EB6B56;
  }
  .wysiwyg{
    width: 80%;
    margin: auto;
    padding: 2vw;
    border-radius: 10px;
    position: relative;
  }
  
  #save{
    background-color: #1ABC9C;
    border: none;
    font-size: 1.5vw;
    padding: 1.5vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    border-radius: 5px;
    color: white;
    transition: all .6s;
    outline: none;
  }
  #save:hover{
    background-color: #00A885;
    box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.75);
  }
  
  .message-popup{
    position: absolute;
    background-color: #00A885;
    opacity: .0;
    color: white;
    font-size: 1.2vw;
    padding: 1.2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    border-radius: 5px;
    transition: all .9s;
    top: -3.4vw;
    left: 12%;
    right: 12%;
    width: auto;
  }