body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(246.39deg, #5767F5, #00121E), url("/bg.png"), center, no-repeat;
  color: white;
}
body main {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 85%;
  background-color: #2F3337;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  box-shadow: 0px 25px 100px black;
}
body main img {
  width: 20%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5vw;
}
body main h1 {
  text-align: center;
  font-size: 3vh;
}
body main svg {
  margin-left: auto;
  margin-right: auto;
  height: 4vh;
}
body main div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 7%;
}
body main .annuler {
  width: 40%;
  height: 100%;
  background-color: #566269;
  color: white;
  border-radius: 0.7vw;
  border: none;
  text-align: middle;
  font-size: 1.3vw;
  cursor: pointer;
  margin-top: 1%;
}
body main .poursuivre {
  width: 40%;
  height: 100%;
  background-color: #5767F5;
  border-radius: 0.7vw;
  color: white;
  border: none;
  text-align: middle;
  font-size: 1.3vw;
  cursor: pointer;
  margin-top: 1%;
}
body main .input {
  background-color: #222528;
  outline: none;
  height: 45%;
  border-radius: 1vw;
  font-size: 2.3vh;
  border: none;
  padding: 0.5vw;
  color: white;
}
body main .select {
  width: 100%;
  height: 35%;
  background-color: #222528;
  color: white;
  outline: none;
  border-radius: 1vw;
  font-size: 2.3vh;
  border: none;
  padding: 0.5vw;
}
body main form {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60%;
}
body main form label {
  font-size: 1.5vw;
}
body main p {
  margin: 0;
  margin-top: 0.7vh;
}
body #page1 {
  visibility: visible;
}
body #page1 form {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
}
body #page1 form .input {
  width: 95%;
  height: 20%;
}
body #page2 {
  visibility: hidden;
}
body #page2 form {
  grid-template-rows: repeat(7, 1fr);
}
body #page2 form #precisez {
  resize: none;
  width: 93%;
  height: 30%;
}
body #page2 div button {
  margin-top: 2%;
}
body #page3 {
  visibility: hidden;
}
body #page3 form {
  grid-template-rows: repeat(5 1fr);
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  margin-top: 1%;
  height: 60%;
}
body #page3 form #adresse {
  grid-column: span 2;
  width: 102%;
}
body #page3 form .input {
  width: 95%;
  height: 20%;
}
body #page3 form .image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
}
body #page3 form .image #label {
  grid-column: span 2;
  margin: auto;
}
body #page3 form .image .droit input {
  vertical-align: middle;
  margin: auto;
}
body footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  text-align: center;
  color: white;
  background-color: #2F3337;
  border-radius: 0.8em 0.8em 0em 0em;
}