*{
    box-sizing: border-box;
}

section{
    margin-left: 8vw;
}

h1{
    color: white;
    font-size: 3vw;
    margin-left: 33vw;
}

h2{
    font-size: 1vw;
    margin-left: 1vw;
}

.xls{
    margin-left: 1.6vw;
}

.csv{
    margin-left: 3vw;
}

.flechebas{
    float: left;
    margin-right: 1vw;
}

.flechehaut{
    float: right;
}

article{
    display: flex;
    justify-content: space-around;
    margin-top: 6vh;
    color: white;
}

p{
    margin-top: 3vw;
    margin-left: 1vw;
}

aside{
    width: 20vw;
    height: 50vh;
    padding: 1vw;
    background-color: #2B3D50;
    border-radius: 10px;
    box-shadow: black 20px;
}

form{
    margin-top: 1vw;
}

div{
    display: flex;
    margin-left: 2vw;
    justify-content: space-between;
    margin-right: 6.8vw;
}

.text{
    border: none;
    width: 18vw;
    height: 3vh;
    background: #484f58;
    overflow: hidden;
    border-radius: 1.2vh;
    margin-bottom: 1vw;
}

.file {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #484f58;
    background-image: none;
  }
  /* Remove IE arrow */
  .file::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .import {
    margin-top: 0;
    position: relative;
    display: flex;
    width: 18vw;
    height: 3vh;
    background: #484f58;
    overflow: hidden;
    border-radius: 1.2vh;
  }
  .file {
    flex: 1;
    padding: 0 .6vw;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .import::after {
    border-radius: 1.5vh;
    content: '📁';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4vw 0.9vw;
    background: #afb4b9;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #484f58;
    font-size: 14px;
  }
#import{
    display: none;
}

.ex {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #484f58;
    background-image: none;
  }
  /* Remove IE arrow */
  .ex::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .export {
    margin-top: 0;
    position: relative;
    display: flex;
    width: 18vw;
    height: 3vh;
    background: #484f58;
    overflow: hidden;
    border-radius: 1.2vh;
  }
  .ex {
    flex: 1;
    padding: 0 .6vw;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .export::after {
    border-radius: 1.5vh;
    content: '📁';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4vw 0.9vw;
    background: #afb4b9;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #484f58;
    font-size: 14px;
  }
#export{
    display: none;
}

#importer{
    margin-left: 20vw;
}

#exporter{
    margin-left: 10vw;
    margin-bottom: 50vh;
}

.importer{
    margin-top: 10vh;
    margin-left: 5.5vw;
    border: none;
    border-radius: 10px;
    width: 7.5vw;
    height: 3.4vh;
    font-size: 1vw;
    color: white;
    background-color: rgba(4, 117, 1, 1);
}

.exporter{
    margin-top: 3.2vh;
    margin-left: 5.5vw;
    border: none;
    border-radius: 10px;
    width: 7.5vw;
    height: 3.4vh;
    font-size: 1vw;
    background-color: rgba(4, 117, 1, 1);
    color: white;
}