*{
    margin: 0;
    padding: 0;
}

/****************************************************
                    Titre et Form
****************************************************/

form{
    
}

/****************************************************
                        Article
*****************************************************/

article{
    margin-right: 20vw;
    width: 30vw;
    height: 30vh;
    background-color: rgba(43, 61, 80, 1);
}