body {
    background: linear-gradient(246.39deg, rgba(255, 115, 0, 0.9) 0.79%, rgba(0, 18, 30, 0.9) 97.56%), url("/bg.png"), center no-repeat;
}

#choix {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 40%;
    transform: translate(-50%, -50%);
    background-color: rgb(61, 58, 58);
    border-radius: 50px;
    background: #333333;
    border-radius: 12px;
    background: linear-gradient(145deg, #5d5858, #4e4a4a);
    box-shadow: 5px 5px 10px #232121,
        -10px -10px 15px #302e2e;
    display: none;

    // apparition inscription 

    section {

        text-align: center;

        img {
            width: 150px;
        }

        h1 {
            color: white;
            font-size: 2em;
        }

        article {
            display: flex;
            padding: 2em;
            justify-content: space-evenly;
            align-items: center;

            label {
                color: white;
                font-size: 2.2em;
                float: left;
            }


            #arrow {
                padding: .5em;
                margin-top: 0;
                position: relative;
                display: flex;
                width: 15vw;
                height: 3vh;
                background: #2b2c2c;
                overflow: hidden;
                border-radius: .5em;
                align-items: center;
                cursor: pointer;


                &::after {
                    border-radius: 1.2vh;
                    content: '\25BC';
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 1em 1em;
                    background: #2b2c2c;
                    cursor: pointer;
                    pointer-events: none;
                    -webkit-transition: .25s all ease;
                    -o-transition: .25s all ease;
                    transition: .25s all ease;
                    color: #f0f0f0;
                    font-size: 15px;

                }

                select {
                    color: white;
                    background-color: #2b2c2c;
                    padding: 1em;
                    font-size: 1em;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    appearance: none;
                    outline: 0;
                    box-shadow: none;
                    border: 0 !important;
                    background: #2c2c2c;
                    background-image: none;
                    flex: 1;
                    color: #fff;
                    cursor: pointer;

                    &::-ms-expand {

                        display: none;
                    }

                    option {
                        border-radius: 6em;
                        border: none;
                        outline: none;
                    }

                }

            }

        }

        button {
            font-size: 1.6em;
            border-radius: .7em;
            outline-style: none;
            color: #fff;
            background: linear-gradient(246.39deg, rgba(255, 115, 0, 0.9) 0.79%, rgba(0, 18, 30, 0.9) 97.56%);
            cursor: pointer;
        }
    }

}

//choix adhérent

#choix_adherent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 80vh;
    transform: translate(-50%, -50%);
    background-color: rgb(61, 58, 58);
    border-radius: 50px;
    background: #333333;
    border-radius: 12px;
    background: linear-gradient(145deg, #5d5858, #4e4a4a);
    box-shadow: 5px 5px 10px #232121,
        -10px -10px 15px #302e2e;
    display: none;

    section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 80vh;


        img {
            width: 8vw;
        }

        h1 {
            color: white;
            font-size: 2em;
        }

        article {
            width: 35vw;
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 1vh;
                text-align: left;
                color: white;
                font-size: 2vh;
            }


            #arrow {
                padding: .5em;
                margin-top: 0;
                position: relative;
                display: flex;
                width: 13vw;
                height: 2vh;
                background: #2b2c2c;
                overflow: hidden;
                border-radius: .5em;
                align-items: center;
                cursor: pointer;

                &::after {
                    border-radius: 1.2vh;
                    content: '\25BC';
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .5em .5em;
                    background: #2b2c2c;
                    cursor: pointer;
                    pointer-events: none;
                    -webkit-transition: .25s all ease;
                    -o-transition: .25s all ease;
                    transition: .25s all ease;
                    color: #f0f0f0;
                    font-size: 15px;
                }


                select {
                    color: white;
                    background-color: #2b2c2c;
                    padding: .5em;
                    font-size: 1em;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    appearance: none;
                    outline: 0;
                    box-shadow: none;
                    border: 0 !important;
                    background: #2c2c2c;
                    background-image: none;
                    flex: 1;
                    color: #fff;
                    cursor: pointer;

                    &::-ms-expand {

                        display: none;
                    }


                    option {

                        border-radius: 6em;
                        border: none;
                        outline: none;
                    }

                }
            }

            form {

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                white-space: pre-line;
                text-align: left;
                column-gap: 3vw;


                p {


                    label {
                        font-size: 2vh;
                        text-align: left;
                        color: white;
                        padding: 1vh;
                    }

                    input {
                        margin-top: .5vh;
                        color: white;
                        background: #2b2c2c;
                        border-radius: 1em;
                        outline-style: none;
                        border: none;
                        width: 100%;
                        padding: 0.3em;
                        font-size: 1em;


                    }
                }
            }
        }

        #btn-poursuivre {
            padding: 1vh;

            button {
                padding: 1vh;
                font-size: 2vh;
                border-radius: 1vh;
                outline-style: none;
                color: #fff;
                cursor: pointer;
                width: 8vw;
            }

            button:nth-child(1) {
                background: #566269;
            }

            button:nth-child(2) {
                background: #FF4C4C;
                margin-left: 1vw;
            }
        }
    }
}


//suite après poursuivre

#suite_adherent {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    transform: translate(-50%, -50%);
    background-color: rgb(61, 58, 58);
    border-radius: 50px;
    background: #333333;
    border-radius: 12px;
    background: linear-gradient(145deg, #5d5858, #4e4a4a);
    box-shadow: 5px 5px 10px #232121,
    -10px -10px 15px #302e2e;
    // display: none;

    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        width: 40vw;
        height: 90vh;
        
        
        img {
            width: 8vw;
        }


        h1 {
            color: rgb(255, 255, 255);
            font-size: 5vh;


        }

        article {



            form {
                white-space: nowrap;

                p {
                    label {
                        padding-right: 1vw;
                        text-align: left;
                        color: white;
                        font-size: 2.5vh;
                    }

                    input {

                        color: white;
                        padding: 1vh;
                        background: #2b2c2c;
                        border-radius: 1em;
                        outline-style: none;
                        border: none;

                    }
                    
                    [type="checkbox"]{
                        width: 1.4vw;
                        height: 2vh;
                        margin: 1vw;
                        border: 2px solid rgb(233, 17, 17);
                        background: rgb(145, 31, 31);
                        border-radius: .5em;
                        transition: all .275s;
                    }



                }

                #profession,
                #activites {
                    padding: .5em;
                    margin-top: 0;
                    position: relative;
                    display: flex;
                    width: 30vw;
                    height: 3vh;
                    background: #2b2c2c;
                    overflow: hidden;
                    border-radius: .5em;
                    align-items: center;
                    cursor: pointer;

                    &::after {
                        border-radius: 1.2vh;
                        content: '\25BC';
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 1em 1em;
                        background: #2b2c2c;
                        cursor: pointer;
                        pointer-events: none;
                        -webkit-transition: .25s all ease;
                        -o-transition: .25s all ease;
                        transition: .25s all ease;
                        color: #f0f0f0;
                        font-size: 15px;
                    }


                    select {
                        color: white;
                        background-color: #2b2c2c;
                        padding: 1em;
                        font-size: 2vh;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        appearance: none;
                        outline: 0;
                        box-shadow: none;
                        border: 0 !important;
                        background: #2c2c2c;
                        background-image: none;
                        flex: 1;
                        color: #fff;
                        cursor: pointer;


                        &::-ms-expand {

                            display: none;
                        }
                    }
                }
            }

        }
        #btn-inscrire{
            padding: 1vh;

            button {
                padding: 1vh;
                font-size: 2vh;
                border-radius: 1vh;
                outline-style: none;
                color: #fff;
                cursor: pointer;
                width: 8vw;
            }

            button:nth-child(1) {
                background: #566269;
            }

            button:nth-child(2) {
                background: #FF4C4C;
                margin-left: 1vw;
            }

        }
    }
}








footer {
    position: fixed;
    width: 40vw;
    height: 2vh;
    background: #000;
    left: 5%;
    bottom: 0;
    transform: translateX(65%);
    color: white;
    text-align: center;
    background-color: rgb(61, 58, 58);
    border-radius: .3em .3em 0 0;
    white-space: nowrap;

    i {
        align-self: center;
    }
}