body {
    margin: 0;
    padding: 0;
    background-color: #15202B;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 100vh;



}

$primary-color : #2B3D50;

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
    background-color: $primary-color;

    img {
        padding: 1em;
        width: 6vw;
        height: 6vh;
    }

    .search {
        display: flex;
        align-self: center;

        input {
            border: none;
            border-radius: 1em 0 0 1em;
            width: 31em;
            height: 2.5em;
            align-self: center;
            outline-style: none;
            background-color: #2C2F33;


            &:focus {
                color: rgb(252, 247, 247);

            }

            &::placeholder {
                color: rgb(252, 247, 247);
                font-size: 18px;
            }



        }

        .submit {

            align-self: center;
            width: 4em;
            height: 1.79em;
            border-bottom: 3px solid white;
            background: #C4C4C4;
            text-align: center;
            color: #fff;
            border-radius: 0 1em 1em 0;
            cursor: pointer;
            outline-style: none;
            font-size: 20px;

            &:active {
                border-bottom: 1px solid white;
            }

        }




    }

    .profil {

        width: 10vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        background-image: url('/wp2515187-black-panther-animal-wallpapers.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 8vh;
        width: 3.5vw;
        border-radius: 50%;
        margin-left: 35%;

        p {
            margin-top: 2em;
            color: white;
            font-size: 1.1em;
            width: 5vw;
            height: 4vh;
            margin-top: 3em;
            align-self: flex-end;

        }
    }



    .sign_out {
        width: 3vw;
        outline-style: none;
        border: none;
        border-bottom: 3px solid white;
        background-color: $primary-color;
        cursor: pointer;

        &:active {
            border-bottom: 1px solid white;
        }

        i {
            font-size: 24px;
            color: white;
        }
    }
}

main {

    display: flex;
    flex-direction: row;


    nav {
        position: fixed;
        width: 5vw;
        height: 100vh;
        background-color: $primary-color;
        overflow: hidden;
        transition: width 600ms ease;
        cursor: pointer;
        z-index: 2;
        
        &:hover {
            width: 20vw;
       
           

        }

        ul {
            padding: 0;
            margin: 1em 0 0 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 100%;
                 



            li {

                display: flex;
                align-items: center;
                width: 100%;

                a {

                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    height: 5rem;

                    span {
                        margin-left: 1.2em;
                        font-size: 2em;
                        white-space: nowrap;
                       text-align: center;
                    }

                    i {
                        width: 6rem;
                        text-align: center;
                        font-size: 3em;
                  

                    }
                }

            }
        }

        .fa-home:hover {
            color: rgb(175, 175, 174);
        }

        .fa-users:hover {
            color: #009BFF;

        }

        .fa-handshake:hover {
            color: #E180C6;
        }

        .fa-running:hover {
            color: #FF8A00;
        }

        .fa-microphone:hover {
            color: #E44747;
        }

        .fa-envelope:hover {
            color: #543EDD;
        }

        .fa-user-plus:hover {
            color: #15202B;
        }

        .fa-chart-area:hover {
            color: #D9A902;
        }

        .fa-file-excel:hover {
            color: #047501;
        }



    }

}










footer {
    position: fixed;
    width: 100%;
    height: 2vh;
    background: #000;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    background-color: $primary-color;

    i {
        align-self: center;
    }
}

// ::-webkit-scrollbar {

//     background-color: #15202B;
// }

// ::-webkit-scrollbar-thumb {
//     background: rgb(15, 15, 47);
//     border-radius: 2em;

// }



// ::-webkit-scrollbar-corner {
//     background-color: #15202B;
// }


::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #15202B
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2E3438;

}