body {
  margin: 0;
  padding: 0;
  background-color: #15202B;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  background-color: #2B3D50;
}
header img {
  padding: 1em;
  width: 6vw;
  height: 6vh;
}
header .search {
  display: flex;
  align-self: center;
}
header .search input {
  border-radius: 1em 0 0 1em;
  width: 31em;
  height: 2.5em;
  align-self: center;
  outline-style: none;
}
header .search input:focus {
  color: black;
}
header .search input::placeholder {
  color: #949191;
  font-size: 18px;
}
header .search .submit {
  align-self: center;
  width: 4em;
  height: 1.79em;
  border-bottom: 3px solid white;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 1em 1em 0;
  cursor: pointer;
  outline-style: none;
  font-size: 20px;
}
header .search .submit:active {
  border-bottom: 1px solid white;
}
header .profil {
  width: 10vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  background-image: url("/wp2515187-black-panther-animal-wallpapers.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 8vh;
  width: 3.5vw;
  border-radius: 50%;
  margin-left: 35%;
}
header .profil p {
  margin-top: 2em;
  color: white;
  font-size: 1.1em;
  width: 5vw;
  height: 4vh;
  margin-top: 3em;
  align-self: flex-end;
}
header .sign_out {
  width: 3vw;
  outline-style: none;
  border: none;
  border-bottom: 3px solid white;
  background-color: #30a59f;
  cursor: pointer;
}
header .sign_out:active {
  border-bottom: 1px solid white;
}
header .sign_out i {
  font-size: 24px;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
}
main nav {
  position: absolute;
  background-color: #2B3D50;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
main nav:hover span {
  transition: all 0.5s ease-in-out;
  width: 20vw;
  display: inline;
}
main nav ul {
  margin: 0;
  padding: 0;
}
main nav ul li {
  list-style: none;
  margin-top: 1em;
}
main nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
main nav ul li a span {
  margin-left: 1.2em;
  font-size: 2em;
  white-space: nowrap;
  display: none;
}
main nav ul li a i {
  width: 2em;
  text-align: center;
  font-size: 3em;
}
main nav .fa-home:hover {
  color: #afafae;
}
main nav .fa-users:hover {
  color: #009BFF;
}
main nav .fa-handshake:hover {
  color: #E180C6;
}
main nav .fa-running:hover {
  color: #FF8A00;
}
main nav .fa-microphone:hover {
  color: #E44747;
}
main nav .fa-envelope:hover {
  color: #543EDD;
}
main nav .fa-user-plus:hover {
  color: #15202B;
}
main nav .fa-chart-area:hover {
  color: #D9A902;
}
main nav .fa-file-excel:hover {
  color: #047501;
}

footer {
  position: fixed;
  width: 100%;
  height: 2vh;
  background: #000;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #2B3D50;
}
footer i {
  align-self: center;
}

::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #15202B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2E3438;
}