section {
  width: 100%;
  height: 85vh;
  margin-left: 6vw;
  overflow: scroll;
  color: white;
  text-align: center;
}
section h1 {
  text-align: center;
}
section .entete {
  position: sticky;
  top: 0;
  table-layout: fixed;
  width: 200%;
  text-align: center;
  white-space: nowrap;
}
section table {
  table-layout: fixed;
  width: 200%;
  text-align: center;
  white-space: nowrap;
  border-collapse: collapse;
}
section table thead,
section table th {
  background: #2E3438;
  height: 4em;
}

tr:nth-child(even) {
  background: #727171;
}

tr:nth-child(odd) {
  background: #525B63;
}

.tableau tr:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}